body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
ul {
    padding: 0;
}
a {
    color: tomato;
    text-decoration: none;
}
li {
    list-style-type: none;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.languages {
    display: flex;
    justify-content: center;
}
.languages li {
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
}
.popular-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}
.popular-item {
    margin-bottom: 15px;
    flex-basis: 20%;
}
.popular-item img {
    width: 150px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.5);
}
.popular-item .item-hit:before {
    content: '@';
}
.popular-item h4 {
    margin: 0;
}
.loader {
    animation: blink 0.4s infinite;
    margin: 100px 0;
    text-align: center;
    font-size: 32px;
}
@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}

.nav {
    display: flex;
}
.nav li {
    margin:  0 15px;
}
.nav a.active {
    font-weight: bold;
}

.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.button:disabled {
    opacity: 0.5;
}
.button {
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    border-radius: 3px;
    border: 0;
}
.o4o4 {
    margin: 4em 0;
    font-size: 3em;
    font-weight: bolder;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.column label {
    display: block;
    font-size: 26px;
    text-transform: uppercase;
}
.column input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}